## .NET ##
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Build outputs
*.dll
*.exe
*.pdb

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResults/
coverage*/

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# Publish
publish/

# dotnet tool
.config/dotnet-tools.json

# Environment
*.env
.env.*
.kiro